@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Quicksand:wght@300;400;500;600;700&display=swap');

$link: #d62828;
$dark: #000814;
$light: #edf6f9;
$accent: #003566;
$primary: #001d3d;
$secondary: #ffc300;

.font-1 {
  font-family: 'Nunito', sans-serif;
}

.font-2 {
  font-family: 'Quicksand', sans-serif;
}
